.header {
    padding: 0px 50px;

}
.header-txt {
    font-size: 50px;
}
.under-txt {
    font: italic;
    font-size: x-large;
}



.box-container {
    display: flex;
}
#box1 {
    width: 800px;
    height: 700px;
    margin: 20px;
    background-color: aqua;
}
#box2 {
    width: 800px;
    height:700px;
    margin: 20px;
    background-color: aqua;
}
#box3 {
    width: 800px;
    height:700px;
    margin: 20px;
    background-color: aqua;
}


